<?xml version="1.0"?>
<!--
/**
 * C3 Media Ltd
 *
 * @title 		Skin Cache Override extension
 * @category	C3
 * @package 	C3_EnvironmentBanner
 * @author		C3 Development Team <development@c3media.co.uk>
 * @copyright   Copyright (c) 2014 C3 Media Ltd (http://www.c3media.co.uk)
 */
 -->

<config>
	<modules>
		<C3_EnvironmentBanner>
			<version>1.0.0</version>
		</C3_EnvironmentBanner>
	</modules>
	<global>
	    <models>
    	    <c3_environmentbanner>
				<class>C3_EnvironmentBanner_Model</class>
			</c3_environmentbanner>
	    </models>
        <blocks>
            <c3_environmentbanner>
                <class>C3_EnvironmentBanner_Block</class>
            </c3_environmentbanner>
            <adminhtml>
                <rewrite>
                    <page_header>C3_EnvironmentBanner_Block_Adminhtml_Page_Header</page_header>
                </rewrite>
            </adminhtml>
        </blocks>
	    <helpers>
    	    <c3_environmentbanner>
				<class>C3_EnvironmentBanner_Helper</class>
			</c3_environmentbanner>
	    </helpers>
	</global>
    <frontend>
		<layout>
			<updates>
				<c3_environmentbanner>
					<file>c3_environmentbanner.xml</file>
				</c3_environmentbanner>
			</updates>
		</layout>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <c3_environmentbanner>
                    <file>c3_environmentbanner.xml</file>
                </c3_environmentbanner>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <c3_environmentbanner>
            <frontend>
                <enabled>1</enabled>
            </frontend>
            <admin>
                <colour_change>1</colour_change>
                <display_env>1</display_env>
                <logo_filename>logo.gif</logo_filename><!-- Allows override of admin logo via config variable as this extension overrides the admin header template -->
            </admin>
            <environments>
                <environments><![CDATA[a:4:{s:18:"_1412161643703_703";a:3:{s:3:"env";s:10:"production";s:10:"fe_bgcolor";s:0:"";s:8:"be_color";s:7:"#7a0200";}s:17:"_1412161786097_97";a:3:{s:3:"env";s:11:"development";s:10:"fe_bgcolor";s:7:"#8ebf45";s:8:"be_color";s:7:"#135916";}s:18:"_1412161792273_273";a:3:{s:3:"env";s:7:"staging";s:10:"fe_bgcolor";s:7:"#d45d12";s:8:"be_color";s:7:"#994100";}s:18:"_1412161795108_108";a:3:{s:3:"env";s:7:"preview";s:10:"fe_bgcolor";s:7:"#7c43bf";s:8:"be_color";s:7:"#513180";}}]]></environments>
            </environments>
        </c3_environmentbanner>
    </default>
</config>